:root {
  /* Cores fixas */
  --azul-vibrante: #0073FF;
  --verde-agua: #00A688;

  /* Modo Claro */
  --claro-bg-principal: #F9FAFB;
  --claro-bg-secundario: #FFFFFF;
  --claro-texto-principal: #1A1A1A;
  --claro-texto-secundario: #2C2C2C;
  --claro-detalhes-bordas: #E5E7EB;

  /* Modo Escuro */
  --escuro-bg-principal: #1E1E1E;
  --escuro-bg-secundario: #2A2A2A;
  --escuro-texto-principal: #EDEDED;
  --escuro-texto-secundario: #9CA3AF;
  --escuro-detalhes-bordas: #3A3A3A;
}

body{
    font-family: "Baloo 2";
}

/* Header */
/* Botões de ícone */
.botao-icone {
  height: 24px;
  width: 24px;
  border: none;
  cursor: pointer;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.lista-navegacao {
  list-style: none;
}

.link-navegacao-ativo {
  color: var(--escuro-texto-principal);
}

.link-navegacao,
.usuario-nome {
  color: var(--escuro-texto-principal);
}

.link-navegacao-ativo:hover,
.link-navegacao:hover {
  color: var(--escuro-texto-principal);
  background: var(--escuro-bg-secundario);
}

main{
    margin-top: 64px;
}

h1, h2, h3{
    font-family: "Sora";
    font-weight: bold;
}

a, ul, li{
    color: var(--texto-principal)
}
